In [4]:
import pandas as pd
pd.read_json('test.json')

         id                                        ingredients
0     18009  [baking powder, eggs, all-purpose flour, raisi...
1     28583  [sugar, egg yolks, corn starch, cream of tarta...
2     41580  [sausage links, fennel bulb, fronds, olive oil...
3     29752  [meat cuts, file powder, smoked sausage, okra,...
4     35687  [ground black pepper, salt, sausage casings, l...
...     ...                                                ...
9939  30246  [large egg yolks, fresh lemon juice, sugar, bo...
9940  36028  [hot sauce, butter, sweet potatoes, adobo sauc...
9941  22339  [black pepper, salt, parmigiano reggiano chees...
9942  42525  [cheddar cheese, cayenne, paprika, plum tomato...
9943   1443  [cold water, olive oil, lime wedges, garlic cl...

[9944 rows x 2 columns]

In [8]:
pd.read_json('https://api.exchangerate-api.com/v4/latest/INR')

,provider,WARNING_UPGRADE_TO_V6,terms,base,date,time_last_updated,rates
AED,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2023-10-13,1697155201,0.0441
AFN,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2023-10-13,1697155201,0.9080
ALL,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2023-10-13,1697155201,1.2000
AMD,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2023-10-13,1697155201,4.7900
ANG,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2023-10-13,1697155201,0.0215
...,...,...,...,...,...,...,...
XPF,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2023-10-13,1697155201,1.3600
YER,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2023-10-13,1697155201,3.0100
ZAR,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2023-10-13,1697155201,0.2270
ZMW,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2023-10-13,1697155201,0.2590
ZWL,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2023-10-13,1697155201,67.7500

In [9]:
!pip install mysql.connector

Collecting mysql.connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     --------------------------------------- 0.0/11.9 MB 653.6 kB/s eta 0:00:19
     --------------------------------------- 0.1/11.9 MB 871.5 kB/s eta 0:00:14
      --------------------------------------- 0.2/11.9 MB 1.3 MB/s eta 0:00:09
      --------------------------------------- 0.3/11.9 MB 1.5 MB/s eta 0:00:08
     - -------------------------------------- 0.5/11.9 MB 2.2 MB/s eta 0:00:06
     -- ------------------------------------- 0.7/11.9 MB 2.5 MB/s eta 0:00:05
     --- ------------------------------------ 1.1/11.9 MB 3.6 MB/s eta 0:00:04
     ---- ----------------------------------- 1.4/11.9 MB 4.0 MB/s eta 0:00:03
     ----- ---------------------------------- 1.8/11.9 MB 4.6 MB/s eta 0:00:03
     ------- -------------------------------- 2.1/11.9 MB 4.9 MB/s eta 0:00:02
     ------- -------------------------------- 2.2/11.9 MB 4.9 MB/s eta 0:00:02
     ------- -------------------------------- 2.2/11.9 MB 4.9 MB/s eta 0:00:02
     ------- -------------------------------- 2.2/11.9 MB 4.9 MB/s eta 0:00:02
     ---------- ----------------------------- 3.2/11.9 MB 5.5 MB/s eta 0:00:02
     ----------- ---------------------------- 3.4/11.9 MB 5.4 MB/s eta 0:00:02
     ------------ --------------------------- 3.8/11.9 MB 5.6 MB/s eta 0:00:02
     -------------- ------------------------- 4.2/11.9 MB 5.9 MB/s eta 0:00:02
     --------------- ------------------------ 4.6/11.9 MB 6.1 MB/s eta 0:00:02
     ---------------- ----------------------- 4.9/11.9 MB 6.2 MB/s eta 0:00:02
     ------------------ --------------------- 5.4/11.9 MB 6.4 MB/s eta 0:00:02
     ------------------- -------------------- 5.7/11.9 MB 6.4 MB/s eta 0:00:01
     --------------------- ------------------ 6.2/11.9 MB 6.6 MB/s eta 0:00:01
     ---------------------- ----------------- 6.7/11.9 MB 6.8 MB/s eta 0:00:01
     ------------------------ --------------- 7.3/11.9 MB 7.0 MB/s eta 0:00:01
     -------------------------- ------------- 7.7/11.9 MB 7.2 MB/s eta 0:00:01
     --------------------------- ------------ 8.2/11.9 MB 7.2 MB/s eta 0:00:01
     ---------------------------- ----------- 8.6/11.9 MB 7.3 MB/s eta 0:00:01
     ----------------------------- ---------- 8.8/11.9 MB 7.2 MB/s eta 0:00:01
     ------------------------------ --------- 9.0/11.9 MB 7.0 MB/s eta 0:00:01
     ------------------------------ --------- 9.0/11.9 MB 7.0 MB/s eta 0:00:01
     ------------------------------ --------- 9.2/11.9 MB 6.7 MB/s eta 0:00:01
     ------------------------------- -------- 9.4/11.9 MB 6.6 MB/s eta 0:00:01
     -------------------------------- ------- 9.5/11.9 MB 6.5 MB/s eta 0:00:01
     -------------------------------- ------- 9.6/11.9 MB 6.4 MB/s eta 0:00:01
     --------------------------------- ------ 9.8/11.9 MB 6.3 MB/s eta 0:00:01
     --------------------------------- ------ 9.9/11.9 MB 6.2 MB/s eta 0:00:01
     --------------------------------- ------ 10.0/11.9 MB 6.1 MB/s eta 0:00:01
     ----------------------------------- ---- 10.4/11.9 MB 6.7 MB/s eta 0:00:01
     ----------------------------------- ---- 10.6/11.9 MB 6.7 MB/s eta 0:00:01
     ------------------------------------- -- 11.1/11.9 MB 6.9 MB/s eta 0:00:01
     -------------------------------------- - 11.4/11.9 MB 6.9 MB/s eta 0:00:01
     ---------------------------------------  11.8/11.9 MB 6.9 MB/s eta 0:00:01
     ---------------------------------------  11.8/11.9 MB 6.9 MB/s eta 0:00:01
     ---------------------------------------- 11.9/11.9 MB 6.7 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: mysql.connector
  Building wheel for mysql.connector (setup.py): started
  Building wheel for mysql.connector (setup.py): finished with status 'done'
  Created wheel for mysql.connector: filename=mysql_connector-2.2.9-cp311-cp311-win_amd64.whl size=247958 sha256=51a87900a7fadbac77ab704ff7f8a08222822d5253bfedf69b48e41f83e91ae9
  Stored in directory: c:\users\abhi\appdata\local\pip\cache\wheels\17\cd\ed\2d49e9bac69cf09382e4c7cc20a2511202b48324b87db26019
Successfully built mysql.connector
Installing collected packages: mysql.connector
Successfully installed mysql.connector-2.2.9

In [15]:
import mysql.connector
con = mysql.connector.connect(host='localhost',user='root',password='',database='world')

In [24]:
pd.read_sql_query("SELECT * FROM  Country WHERE LifeExpectancy > 60 " , con)

C:\Users\Abhi\AppData\Local\Temp\ipykernel_15692\1791577728.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query("SELECT * FROM  Country WHERE LifeExpectancy > 60 " , con)

,Code,Name,Continent,Region,SurfaceArea,IndepYear,Population,LifeExpectancy,GNP,GNPOld,LocalName,GovernmentForm,HeadOfState,Capital,Code2
0,ABW,Aruba,North America,Caribbean,193.0,NaN,103000,78.4,828.0,793.0,Aruba,Nonmetropolitan Territory of The Netherlands,Beatrix,129,AW
1,AIA,Anguilla,North America,Caribbean,96.0,NaN,8000,76.1,63.2,NaN,Anguilla,Dependent Territory of the UK,Elisabeth II,62,AI
2,ALB,Albania,Europe,Southern Europe,28748.0,1912.0,3401200,71.6,3205.0,2500.0,Shqipëria,Republic,Rexhep Mejdani,34,AL
3,AND,Andorra,Europe,Southern Europe,468.0,1278.0,78000,83.5,1630.0,NaN,Andorra,Parliamentary Coprincipality,,55,AD
4,ANT,Netherlands Antilles,North America,Caribbean,800.0,NaN,217000,74.7,1941.0,NaN,Nederlandse Antillen,Nonmetropolitan Territory of The Netherlands,Beatrix,33,AN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162,VIR,"Virgin Islands, U.S.",North America,Caribbean,347.0,NaN,93000,78.1,0.0,NaN,Virgin Islands of the United States,US Territory,George W. Bush,4067,VI
163,VNM,Vietnam,Asia,Southeast Asia,331689.0,1945.0,79832000,69.3,21929.0,22834.0,Viêt Nam,Socialistic Republic,Trân Duc Luong,3770,VN
164,VUT,Vanuatu,Oceania,Melanesia,12189.0,1980.0,190000,60.6,261.0,246.0,Vanuatu,Republic,John Bani,3537,VU
165,WSM,Samoa,Oceania,Polynesia,2831.0,1962.0,180000,69.2,141.0,157.0,Samoa,Parlementary Monarchy,Malietoa Tanumafili II,3169,WS
166,YUG,Yugoslavia,Europe,Southern Europe,102173.0,1918.0,10640000,72.4,17000.0,NaN,Jugoslavija,Federal Republic,Vojislav Koštunica,1792,YU

In [1]:
import pandas as pd
import requests

In [30]:
import pandas as pd
import requests
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=1')
temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]
df.head()
df = pd.DataFrame()
df
for i in range(1,429):
    response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page={}'.format(i))
    temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]
    df = pd.concat([temp_df,df])
    
df.to_csv('movies')